@charset 'utf-8';
/* CSS reset */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#Body {
	color: #333;
}
html, body {
	margin: 0px;
	height: 100%;
	padding: 0px;
	font: normal 14px/1.3 'Microsoft YaHei', Arial, sans-serif;
	color: #333;
	background-color: #fff;
}
p {
	margin: 0px 0px 8px 0px;
}
header, nav, section, footer {
	display: block;
}
TH, TD, DIV {
}
A, A:link {
	color: #333;
	text-decoration: none;
}
A:active {
	color: #333;
	text-decoration: none;
}
A:visited {
	color: #333;
	text-decoration: none;
}
A:hover {
	color: #333;
	text-decoration: none;
}
h1 {
	font: bold 24px/28px 'Microsoft YaHei', Arial, sans-serif;
	color: #333;
	margin: 5px 0;
	letter-spacing: normal;
}
h2 {
	font: bold 22px/26px 'Microsoft YaHei', Arial, sans-serif;
	color: #333;
	margin: 5px 0;
	letter-spacing: normal;
}
h3 {
	font: bold 20px/24px 'Microsoft YaHei', Arial, sans-serif;
	color: #333;
	margin: 5px 0;
	letter-spacing: normal;
}
h4 {
	font: bold 18px/22px 'Microsoft YaHei', Arial, sans-serif;
	color: #333;
	margin: 5px 0;
	letter-spacing: normal;
}
h5 {
	font: bold 16px/20px 'Microsoft YaHei', Arial, sans-serif;
	color: #333;
	margin: 5px 0;
	letter-spacing: normal;
}
h6 {
	font: bold 14px/18px 'Microsoft YaHei', Arial, sans-serif;
	color: #333;
	margin: 5px 0;
	letter-spacing: normal;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	list-style-type: none;
}
dl, dd, dt {
	margin: 0;
	padding: 0;
}
img {
	width: auto \9;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
}
.clearfix:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}
.clearfix {
	display: inline-block;
}
.clearfix {
	display: block;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-o {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.red {
	color: #dd2727 !important;
}
.blue {
	color: #0855ac !important;
}
.hide {
	display: none;
}
.show {
	display: block;
}
#wrapper {
	min-width: 1200px;
	position: relative;
}
.dnn_layout {
	width: 1200px;
	margin: 0px auto;
}
.dnn_layout-index {
	width: 970px;
	margin: 0px auto;
}
@media only screen and (min-width: 1200px) {
.dnn_layout-index {
	width: 1200px;
}
}
/* ********** HEADER ************** */	
.header {
	width: 100%;
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	height: 30px;
	line-height: 30px;
}
.header ul li {
	float: left;
}
.header .left li {
	margin-right: 10px;
}
.header .left li select {
	height: 20px;
	background-color: #eee;
	border: 1px solid #666;
	line-height: 20px;
}
.header .right li {
	margin-left: 15px;
}
.header .login a {
	color: #dd2727;
}
.header .right .last:before {
	content: "";
	display: block;
	float: left;
	height: 30px;
	width: 30px;
	background: url(../IMG/img/tel.png) no-repeat center;
}
.header .right .weChat {
	position: relative;
	text-align: center;
	width: 50px;
}
.header .right .weChat .img {
	position: absolute;
	top: 30px;
	left: -15px;
	width: 75px;
	height: 75px;
	background-color: #fff;
	border: 1px solid #ddd;
	z-index: 999;
}
.header .right .weChat .img img {
	width: 69px;
	height: 69px;
	margin: 3px;
}
.header .right .links a {
	display: block;
	padding-left: 16px;
	background: url(../IMG/img/home.png) no-repeat 0 center;
}
/*Ssearch*/
.search {
}
.search .leftLogo {
	float: left;
}
.search .leftLogo img {
	width: 195px;
	height: 73px;
	margin-top: 20px;
}
.search .centerText {
	float: left;
	margin-left: 110px;
	margin-top: 20px;
}
.search .centerText .middle {
	width: 540px;
	height: 40px;
	line-height: 36px;
	border: 2px solid #dd2727;
	position: relative;
}
.search .centerText .bottom {
	height: 30px;
	overflow: hidden;
}
.search .centerText .middle .text {
	width: 350px;
	height: 36px;
	vertical-align: top;
	border: none;
	outline: none;
	text-indent: 5px;
}
.search .centerText .middle .submit {
	cursor: pointer;
	float: right;
	height: 36px;
	border: none;
	background-color: #dd2727;
	width: 80px;
	color: #fff;
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: bold;
	outline: none;
}
.search .centerText .middle .superSearch {
	position: absolute;
	right: -100px;
	font-size: 15px;
}
.search .centerText .middle .position {
	position: absolute;
	right: 80px;
	font-size: 13px;
	width: 105px;
	top: 0;
	text-indent: 5px;
	z-index: 999;
}
.search .centerText .middle .position .example {
	border-left: 2px solid #dd2727;
	background: url(../IMG/img/pointBottom.png) no-repeat 85px center;
	padding-right: 18px;
	overflow: hidden;
	height: 38px;
}
.search .centerText .middle .position .select {
	max-height: 310px;
	overflow: auto;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 185px;
	line-height: 30px;
	border-bottom: none;
}
.search .centerText .middle .position .select ul li {
	border-bottom: 1px dashed #ddd;
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
}
.search .centerText .middle .position .select .letter {
	padding: 0 8px;
	color: #333;
}
.search .centerText .top ul li {
	float: left;
	height: 23px;
	line-height: 23px;
	font-weight: bold;
}
.search .centerText .top ul li a {
	color: #dd2727;
	display: block;
	padding: 0 15px;
}
.search .centerText .top ul .on a {
	background-color: #dd2727;
	color: #fff;
}
.search .centerText .top ul li a:hover {
	background-color: #dd2727;
	color: #fff;
}
.search .centerText .bottom dl {
	line-height: 30px;
}
.search .centerText .bottom dl dt {
	float: left;
}
.search .centerText .bottom dl dd {
	float: left;
	margin-right: 10px;
}
.search .centerText .bottom dl dd a:hover {
	color: #dd2727;
	font-weight: bold;
}
.search .rightText {
	cursor: pointer;
	position: relative;
	float: right;
	margin-top: 43px;
	width: 186px;
	line-height: 38px;
	background-color: #eee;
}
.search .rightText .myCart .img {
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
	background: url(../IMG/img/cart.png) center no-repeat;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.search .rightText .myCart .text {
	width: 100px;
	float: left;
	text-indent: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 40px;
	line-height: 40px;
}
.search .rightText .myCart .num {
	float: right;
	width: 46px;
	height: 40px;
	text-align: center;
	background-color: #dd2727;
	color: #fff;
	font-size: 17px;
	line-height: 40px;
}
.search .rightText .position {
	position: absolute;
	width: 268px;
	border: 1px solid #ddd;
	right: 0;
	top: 40px;
	background-color: #fff;
	z-index: 999;
}
.search .rightText .position dl {
	padding: 10px;
	border: none;
}
.search .rightText .position dl dt {
	border: 1px solid #ddd;
	float: left;
	width: 50px;
	height: 50px;
}
.search .rightText .position dl dt img {
	width: 50px;
	height: 50px;
}
.search .rightText .position dl dd {
	float: left;
	margin-left: 5px;
	line-height: 20px;
	position: relative;
}
.search .rightText .position dl dd .title {
	width: 190px;
}
.search .rightText .position dl dd .nums {
	color: #e60012;
}
.search .rightText .position dl dd .delete {
	position: absolute;
	right: 0;
	bottom: -10px;
}
.search .rightText .position dl dd .delete a {
	display: block;
	height: 20px;
	width: 20px;
	background: url(../IMG/img/cartDelete.png) no-repeat center;
}
.search .rightText .summary {
	line-height: 40px;
	background-color: #f1f1f1;
	padding: 0 10px;
}
.search .rightText .summary .right a {
	display: inline-block;
	background-color: #e60012;
	color: #fff;
	height: 26px;
	line-height: 26px;
	margin-top: 7px;
	padding: 0 10px;
}
.search .rightText .position .blank {
	line-height: 80px;
	text-align: center;
	color: #999;
}
/*E search*/	
	
/*S nav*/
.nav {
	width: 100%;
	border-bottom: 2px solid #dd2727;
	margin-top: 10px;
}
.nav .allClass {
	float: left;
	position: relative;
}
.nav .allClass .top {
	background: url(../IMG/img/pointBottom_2.png) no-repeat 170px center;
	width: 200px;
	background-color: #dd2727;
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
.nav .allClass .top a {
	display: block;
	color: #fff;
}
.nav .lists {
	float: left;
	line-height: 40px;
	font-size: 16px;
}
.nav .lists li {
	float: left;
}
.nav .lists li a {
	color: #333;
	display: block;
	padding: 0 15px;
	margin: 0 15px;
	position: relative;
}
.nav .lists .on a {
	color: #dd2727;
}
.nav .lists .on a:before, .nav .lists li a:hover:before {
	position: absolute;
	content: "";
	left: 50%;
	bottom: 0px;
	border-color: transparent transparent #dd2727 transparent;
	border-style: solid;
	border-width: 5px;
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.nav .lists li a:hover {
	color: #dd2727;
}
.nav .allClass .position {
	position: absolute;
	z-index: 999;
	top: 42px;
}
.nav .allClass .position ul {
	background-color: #666;
}
.nav .allClass .position ul li {
	width: 200px;
	line-height: 40px;
}
.nav .allClass .position ul li dl dt a {
	display: block;
	width: 200px;
	color: #fff;
	font-size: 16px;
	background: #e24848 url(../IMG/img/point_2.png) no-repeat 180px center;
}
.nav .allClass .position ul li dl dt a:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.nav .allClass .position ul li dl dt a:hover {
	background-color: #fff;
	color: #dd2727;
	background-image: url(../IMG/img/point_3.png);
}
.nav .allClass .position ul li dl dt div {
	float: left;
}
.nav .allClass .position ul li dl dt .icon {
	width: 45px;
	height: 39px;
}
.nav .allClass .position ul li dl dt .icon_1 {
	background: url(../IMG/img/icon_1.png) no-repeat center;
}
.nav .allClass .position ul li dl dt .icon_2 {
	background: url(../IMG/img/icon_2.png) no-repeat center;
}
.nav .allClass .position ul li dl dt .icon_3 {
	background: url(../IMG/img/icon_3.png) no-repeat center;
}
.nav .allClass .position ul li dl dt .icon_4 {
	background: url(../IMG/img/icon_4.png) no-repeat center;
}
.nav .allClass .position ul li dl dt .icon_5 {
	background: url(../IMG/img/icon_5.png) no-repeat center;
}
.nav .allClass .position ul li dl dt .icon_6 {
	background: url(../IMG/img/icon_6.png) no-repeat center;
}
.nav .allClass .position ul li dl dt .icon_7 {
	background: url(../IMG/img/icon_7.png) no-repeat center;
}
.nav .allClass .position ul li dl dt .icon_8 {
	background: url(../IMG/img/icon_8.png) no-repeat center;
}
.nav .allClass .position ul li dl dt .icon_9 {
	background: url(../IMG/img/icon_9.png) no-repeat center;
}
.nav .allClass .position ul li dl dt a:hover .icon_1 {
	background: url(../IMG/img/icon_red_1.png) no-repeat center;
}
.nav .allClass .position ul li dl dt a:hover .icon_2 {
	background: url(../IMG/img/icon_red_2.png) no-repeat center;
}
.nav .allClass .position ul li dl dt a:hover .icon_3 {
	background: url(../IMG/img/icon_red_3.png) no-repeat center;
}
.nav .allClass .position ul li dl dt a:hover .icon_4 {
	background: url(../IMG/img/icon_red_4.png) no-repeat center;
}
.nav .allClass .position ul li dl dt a:hover .icon_5 {
	background: url(../IMG/img/icon_red_5.png) no-repeat center;
}
.nav .allClass .position ul li dl dt a:hover .icon_6 {
	background: url(../IMG/img/icon_red_6.png) no-repeat center;
}
.nav .allClass .position ul li dl dt a:hover .icon_7 {
	background: url(../IMG/img/icon_red_7.png) no-repeat center;
}
.nav .allClass .position ul li dl dt a:hover .icon_8 {
	background: url(../IMG/img/icon_red_8.png) no-repeat center;
}
.nav .allClass .position ul li dl dt a:hover .icon_9 {
	background: url(../IMG/img/icon_red_9.png) no-repeat center;
}
.nav .allClass .position ul li dl dt a:hover .icon_10 {
	background: url(../IMG/img/icon_red_10.png) no-repeat center;
}
.nav .allClass .position ul li dl dt .icon_10 {
	background: url(../IMG/img/icon_10.png) no-repeat center;
}
.nav .allClass .position ul li dl {
/*position: relative;*/
}
.nav .allClass .position ul li dl dd {
	position: absolute;
	left: 200px;
	top: 0;
	width: 250px;
	background-color: #fff;
	border: 1px solid #ddd;
	height: 100%;
}
.nav .allClass .position ul li dl .headLink {
	padding: 10px 10px 0 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.nav .allClass .position ul li dl .bodyLink {
	padding-left: 10px;
	line-height: 40px;
}
.nav .allClass .position ul li dl .bodyLink a {
	margin-right: 15px;
	display: inline-block;
}
.nav .allClass .position ul li dl .bodyLink a:hover {
	color: #dd2727;
	text-decoration: underline;
}
/*E nav*/

	
	
	
	
	
	
	
	
	
/*S guarantee*/
.guarantee {
	width: 100%;
	height: 110px;
	background-color: #f6f6f6;
	margin-top: 15px;
}
.guarantee ul li {
	float: left;
	width: 240px;
}
.guarantee ul li:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.guarantee ul li dt {
	float: left;
	margin: 32px 0 0 10px;
}
.guarantee ul li dt img {
	float: left;
	width: 48px;
	height: 48px;
}
.guarantee ul li dd {
	float: left;
	margin-left: 8px;
	margin-top: 30px;
}
.guarantee ul li dd h4 {
	font-size: 18px;
	color: #333;
	line-height: 30px;
	margin:0;
}
.guarantee ul li dd p{
	margin: 0;
	}
/*E guarantee*/
/*S footer*/
.footer {
	margin-top: 20px;
}
.footer ul li {
	float: left;
	width: 240px;
	text-align: center;
}
.footer ul li dt {
	font-size: 16px;
	color: #333;
	line-height: 30px;
	margin-bottom: 5px;
}
.footer ul li dd {
	line-height: 25px;
	font-size: 14px;
}
.footer ul li dd a:hover {
	text-decoration: underline;
}
/*E footer*/
/*S indexTip*/
.indexTip {
	width: 100%;
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-top: 30px;
	text-align: center;
	padding-bottom: 30px;
}
.indexTip .tops {
	line-height: 35px;
}
.indexTip .tops a {
	margin-right: 8px;
}
.indexTip .tops a:hover {
	text-decoration: underline;
}
.indexTip .tops .first {
	color: #333;
	margin-right: 0;
}
.indexTip .bottoms {
	line-height: 30px;
}
.indexTip .bottoms .icon {
	position: relative;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.indexTip .bottoms .icon em {
	position: absolute;
	width: 30px;
	height: 30px;
	background: url(../IMG/img/copy.png) no-repeat center;
}
/*E indexTip*/
/*S asideLeft*/
.asideLeft {
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 9999;
	border-right: 5px solid #dd2727;
}
.asideLeft ul {
	margin-top: 300px;
}
.asideLeft ul li {
	position: relative;
	margin-top: 1px;
}
.asideLeft ul li .img_1 {
	width: 35px;
	height: 35px;
	background: #dd2727 url(../IMG/img/right_1.png)no-repeat center;
	position: relative;
	z-index: 99;
	right: -5px;
}
.asideLeft ul li .img_2 {
	width: 35px;
	height: 35px;
	background: #dd2727 url(../IMG/img/right_2.png)no-repeat center;
	position: relative;
	z-index: 99;
	right: -5px;
}
.asideLeft ul li .img_3 {
	width: 35px;
	height: 35px;
	background: #dd2727 url(../IMG/img/right_3.png)no-repeat center;
	position: relative;
	z-index: 99;
	right: -5px;
}
.asideLeft ul li .img_4 {
	width: 35px;
	height: 35px;
	background: #dd2727 url(../IMG/img/right_4.png)no-repeat center;
	position: relative;
	z-index: 99;
	right: -5px;
}
.asideLeft ul li .goTop {
	width: 35px;
	height: 60px;
	background: #dd2727 url(../IMG/img/right_5.png)no-repeat center 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 99;
	right: -5px;
}
.asideLeft ul li .goTop a {
	display: block;
	width: 35px;
	height: 60px;
	color: #fff;
	text-align: center;
}
.asideLeft .hideText {
	position: absolute;
	top: 0;
	line-height: 35px;
	width: 120px;
	background-color: #e24848;
	right: -120px;
	text-align: center;
	color: #fff;
}
.asideLeft .hideText a {
	color: #fff;
}
/*E asideLeft*/
/*S asideRight*/
.asideRight {
	position: fixed;
	top: 250px;
	left: 50%;
	margin-left: -655px;
}
.asideRight ul {
	background-color: #f7f7f7;
	width: 50px;
	border-bottom: 1px solid #ddd;
}
.asideRight ul li {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border: 1px solid #ddd;
	border-bottom: none;
	position: relative;
}
.asideRight ul li span {
	display: block;
	width: 50px;
	height: 50px;
}
.asideRight ul li a {
	position: absolute;
	color: #333;
}
.asideRight ul li .formal {
	font-size: 16px;
	text-align: center;
	line-height: 50px;
}
.asideRight ul li .ahead {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 3px;
	padding-top: 5px;
}
.asideRight ul .on a {
	top: -50px;
	background-color: #dd2727;
	color: #fff;
}
/*E asideRight*/

/** 上一页下一页 **/
.page .p-wrap {
	margin-top: 20px;
	text-align: right;
}
.page .p-wrap .p-num {
	display: inline-block;
}
.page .p-wrap .p-num a {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 34px;
	background-color: #fafafa;
	text-align: center;
	font-size: 14px;
	color: #444;
	border: 1px solid #d9d9d9;
}
.page .p-wrap .p-num a.current {
	border: none;
	background-color: #dd2727;
	color: #fff;
	line-height: 36px;
}
.page .p-wrap .p-num a.ellipsis {
	color: #4c4c4c;
	border: none;
	background-color: transparent;
	line-height: 36px;
}
.page .p-wrap .p-num a.pn-prev, .page .p-wrap .p-num a.pn-next {
	width: 80px;
	line-height: 34px;
	background-color: #fafafa;
	color: #444444;
	border: 1px solid #e5e5e5;
}
.page .p-wrap .p-skip {
	font-size: 14px;
	color: #444;
	margin-left: 15px;
	display: inline-block;
}
.page .p-wrap .p-skip em {
	font-style: normal;
	line-height: 36px;
	display: inline-block;
}
.page .p-wrap .p-skip b {
	font-weight: normal;
}
.page .p-wrap .p-skip input {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 34px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #4c4c4c;
	border: 1px solid #d9d9d9;
}
.page .p-wrap .p-skip .btn {
	display: inline-block;
	width: 54px;
	height: 36px;
	line-height: 34px;
	background-color: #fafafa;
	text-align: center;
	font-size: 14px;
	color: #444;
	border: 1px solid #d9d9d9;
	padding: 0;
}
/** leftmenu **/
.leftMain {
	width: 200px;
}
.leftMain .topOut {
	background-color: #ffebeb;
	padding: 15px 0;
	text-align: center;
}
.leftMain .topOut .img img {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.leftMain .topOut .name {
	font-size: 14px;
	color: #666;
	font-weight: bold;
	margin: 10px 0 0 0;
}
.leftMain .topOut .state {
	font-size: 12px;
	color: #666;
	margin: 10px 0 0 0;
}
.leftMain .topOut .state img {
	margin: -1px 5px 0 0;
}
.leftMain .topOut .num {
	font-size: 12px;
	color: #666;
	margin: 10px 0 0 0;
}
.leftMain .topOut .num img {
	margin: -1px 5px 0 0;
}
.leftMain .topOut .num span {
	font-weight: bold;
}
.leftMain .line {
	height: 4px;
	background: #ff5100;
	background: -moz-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -webkit-gradient(linear, left left, left left, color-stop(0%, #ff4543), color-stop(100%, #ff9401));
	background: -webkit-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -o-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -ms-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: linear-gradient(to right, #ff4543 0%, #ff9401 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4543', endColorstr='#ff9401', GradientType=0 );
}
.leftMain dl {
	border: 2px solid #eee;
	border-top: none;
	padding: 5px 0 10px 0;
}
.leftMain dl dt {
	padding-left: 68px;
	font-size: 16px;
	color: #444;
	font-weight: bold;
	padding-top: 11px;
	padding-bottom: 11px;
	position: relative;
}
.leftMain dl dt:before {
	position: absolute;
	content: "";
	width: 2px;
	height: 18px;
	background-color: #dd2727;
	left: 52px;
	top: 50%;
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-wekit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.leftMain dl dd a {
	display: block;
	padding-left: 70px;
	font-size: 14px;
	color: #666;
	line-height: 36px;
	margin: 0 -2px;
}
.leftMain dl dd.current a {
	background-color: #dd2727;
	color: #fff;
}
.rightMain {
	margin-left: 40px;
	width: 960px;
}
.black-bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: #000;
	background-color: rgba(0,0,0,0.9);
}
.current-list {
	padding: 20px;
	width: 1000px;
	margin: 10% auto 0;
	position: relative;
	background-color: #fff;
}
.current-list h4 {
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: relative;
	font-size: 18px;
	color: #666;
	font-weight: normal;
	background-color: #eeeeee;
	margin: 0;
}
.current-list h4 .close-s {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.current-list h4 .close-s img {
	display: block;
}
.current-list p {
	font-size: 14px;
	color: #666;
	line-height: 30px;
	max-height: 250px;
	overflow: auto;
	border-bottom: 1px dashed #b3b3b3;
	padding: 20px 0;
	margin: 0 0 20px 0;
}
.current-list button {
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
	background-color: #dd2727;
	border: none;
	padding: 0;
	margin: 0 auto;
	display: block;
	outline: none;
	cursor: pointer;
}
.black-bg2 {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: #000;
	background-color: rgba(0,0,0,0.4);
}
.current-list2 {
	width: 820px;
	/*	height:540px;*/
	margin: 10% auto 0;
	position: relative;
	background-color: #fff;
	-moz-box-shadow: 0 0 12px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.1);
	box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
.current-list2 h4 {
	font-size: 20px;
	color: #444;
	margin: 0;
	font-weight: normal;
	position: relative;
	padding: 0 50px;
	line-height: 76px;
}
.current-list2 h4:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0px;
	bottom: 0px;
	background: #ff4444;
	background: -moz-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -webkit-gradient(linear, left left, left left, color-stop(0%, #ff4543), color-stop(100%, #ff9401));
	background: -webkit-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -o-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -ms-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: linear-gradient(to right, #ff4543 0%, #ff9401 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4543', endColorstr='#ff9401', GradientType=0 );
}
.current-list2 h4 .close-s {
	display: inline-block;
	position: absolute;
	right: 25px;
	top: 50%;
	width: 18px;
	height: 18px;
	margin: -9px 0 0 0;
	cursor: pointer;
}
.current-list2 h4 .close-s img {
	display: block;
}
.current-list2 .add-table {
	padding: 36px 190px;
}
.current-list2 .item .list {
	margin-top: 20px;
	position: relative;
}
.current-list2 .item .list:first-child {
	margin-top: 0;
}
.current-list2 .item .list .text-box {
	font-size: 14px;
	color: #666;
	line-height: 30px;
	width: 95px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
}
.current-list2 .item .list input {
	border: 1px solid #ccc;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: transparent;
	font-size: 12px;
	color: #666;
	outline: none;
	width: 320px;
	height: 30px;
	line-height: normal;
	line-height: 28px\9;
	padding: 0 30px 0 10px;
}
.current-list2 .item .list .rightText {
	display: inline-block;
}
.current-list2 .item .list .rightText select {
	border: 1px solid #ccc;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: transparent;
	font-size: 12px;
	color: #666;
	outline: none;
	width: 104px;
	height: 30px;
	line-height: normal;
	line-height: 28px\9;
	padding: 0 10px;
	display: inline-block;
}
.current-list2 .item .list .rightText textarea {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 100%;
	resize: none;
	margin-top: 20px;
	padding: 5px;
}
.current-list2 .item .bottom {
	height: 40px;
	line-height: 40px;
	padding-left: 100px;
	font-size: 12px;
	color: #4c4c4c;
	margin-top:10px;
}
.current-list2 .item .bottom input {
	vertical-align: middle;
}
.current-list2 .item .bottom2 {
	padding-left: 100px;
}
.current-list2 .item .bottom2 .add-button {
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
	background-color: #dd2727;
	display: block;
	text-align: center;
}

.current-list2 .item .list .error {
    position: absolute;
    left: 110px;
    margin: 0;
    line-height: normal;
    top: 100%;
}
.current-list3 .item .list .error {
    position: absolute;
    left: 110px;
    margin: 0;
    line-height: normal;
    top: 100%;
}






.black-bg3 {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: #000;
	background-color: rgba(0,0,0,0.4);
}
.current-list3 {
	width: 820px;
	/*height: 540px;*/
	margin: 10% auto 0;
	position: relative;
	background-color: #fff;
	-moz-box-shadow: 0 0 12px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.1);
	box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
.current-list3 h4 {
	font-size: 20px;
	color: #444;
	margin: 0;
	font-weight: normal;
	position: relative;
	padding: 0 50px;
	line-height: 76px;
}
.current-list3 h4:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0px;
	bottom: 0px;
	background: #ff4444;
	background: -moz-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -webkit-gradient(linear, left left, left left, color-stop(0%, #ff4543), color-stop(100%, #ff9401));
	background: -webkit-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -o-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -ms-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: linear-gradient(to right, #ff4543 0%, #ff9401 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4543', endColorstr='#ff9401', GradientType=0 );
}
.current-list3 h4 .close-s {
	display: inline-block;
	position: absolute;
	right: 25px;
	top: 50%;
	width: 18px;
	height: 18px;
	margin: -9px 0 0 0;
	cursor: pointer;
}
.current-list3 h4 .close-s img {
	display: block;
}
.current-list3 .add-table {
	padding: 36px 190px;
}
.current-list3 .item .list {
	margin-top: 20px;
	position: relative;
}
.current-list3 .item .list:first-child {
	margin-top: 0;
}
.current-list3 .item .list .text-box {
	font-size: 14px;
	color: #666;
	line-height: 30px;
	width: 95px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
}
.current-list3 .item .list input {
	border: 1px solid #ccc;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: transparent;
	font-size: 12px;
	color: #666;
	outline: none;
	width: 320px;
	height: 30px;
	line-height: normal;
	line-height: 28px\9;
	padding: 0 30px 0 10px;
}
.current-list3 .item .list .rightText {
	display: inline-block;
}
.current-list3 .item .list .rightText select {
	border: 1px solid #ccc;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: transparent;
	font-size: 12px;
	color: #666;
	outline: none;
	width: 104px;
	height: 30px;
	line-height: normal;
	line-height: 28px\9;
	padding: 0 10px;
	display: inline-block;
}
.current-list3 .item .list .rightText textarea {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 100%;
	resize: none;
	margin-top: 20px;
	padding: 5px;
}
.current-list3 .item .bottom {
	height: 40px;
	line-height: 40px;
	padding-left: 100px;
	font-size: 12px;
	color: #4c4c4c;
	margin-top:10px;
}
.current-list3 .item .bottom input {
	vertical-align: middle;
}
.current-list3 .item .bottom2 {
	padding-left: 100px;
}
.current-list3 .item .bottom2 .add-button {
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
	background-color: #dd2727;
	display: block;
	text-align: center;
}

.black-bg4 {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: #000;
	background-color: rgba(0,0,0,0.4);
}
.current-list4 {
	width: 350px;
	/*	height:540px;*/
	margin: 10% auto 0;
	position: relative;
	background-color: #fff;
	-moz-box-shadow: 0 0 12px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.1);
	box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
.current-list4 h4 {
	font-size: 20px;
	color: #444;
	margin: 0;
	font-weight: normal;
	position: relative;
	padding: 0 50px;
	line-height: 76px;
}
.current-list4 h4:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0px;
	bottom: 0px;
	background: #ff4444;
	background: -moz-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -webkit-gradient(linear, left left, left left, color-stop(0%, #ff4543), color-stop(100%, #ff9401));
	background: -webkit-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -o-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: -ms-linear-gradient(left, #ff4543 0%, #ff9401 100%);
	background: linear-gradient(to right, #ff4543 0%, #ff9401 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4543', endColorstr='#ff9401', GradientType=0 );
}
.current-list4 h4 .close-s {
	display: inline-block;
	position: absolute;
	right: 25px;
	top: 50%;
	width: 18px;
	height: 18px;
	margin: -9px 0 0 0;
	cursor: pointer;
}
.current-list4 h4 .close-s img {
	display: block;
}





/** 取消订单弹框 **/
.orderReason .alpha {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color:rgba(0,0,0,0.4);
	z-index: 999;
}
.orderReason .reasonContent {
	width: 820px;
	min-height: 348px;
	padding-bottom:20px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -410px;
	margin-top: 200px;
	z-index: 9999;
}
.orderReason .reasonContent .quit {
	height: 74px;
	line-height: 74px;
	font-size: 20px;
	color:#444;
	padding:0 60px;
}
.orderReason .reasonContent .quit span{
	cursor:pointer;
	}
.orderReason .reasonContent .quit span img{
	width:18px;
	height:18px;
	}
.orderReason .reasonContent .line{
	height:2px;
	background: #ff5100;
    background: -moz-linear-gradient(left, #ff4543 0%, #ff9401 100%);
    background: -webkit-gradient(linear, left left, left left, color-stop(0%, #ff4543), color-stop(100%, #ff9401));
    background: -webkit-linear-gradient(left, #ff4543 0%, #ff9401 100%);
    background: -o-linear-gradient(left, #ff4543 0%, #ff9401 100%);
    background: -ms-linear-gradient(left, #ff4543 0%, #ff9401 100%);
    background: linear-gradient(to right, #ff4543 0%, #ff9401 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4543', endColorstr='#ff9401', GradientType=0 );
	}	
	
.orderReason .reasonContent .tip {
	text-align: center;
	margin: 30px 0;
	}
.orderReason .reasonContent .select {
	text-align:center;
	color:#666;
}
.orderReason .reasonContent .select select {
	width: 245px;
	height: 30px;
	line-height:28px;
	padding:2px 0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.orderReason .reasonContent .delivery{
	font-size:14px;
	color:#666;
	padding:0 235px;
	}
.orderReason .reasonContent .delivery dl{
	margin-top:10px;
	}
.orderReason .reasonContent .delivery dt{
	display:inline-block;
	vertical-align:top;
	line-height:30px;
	width:100px;
	text-align: right;
	}
.orderReason .reasonContent .delivery dd{
	display:inline-block;
	vertical-align:top;
	line-height:30px;
	width:245px;
	}	
.orderReason .reasonContent .delivery dd input{
	width:245px;
	height:30px;
	line-height:normal;
	line-height:28px\9;

	border:1px solid #ccc;
	padding:0 10px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	}
.orderReason .reasonContent .delivery dd button{
	width:245px;
	height:40px;
	line-height:40px;
	background-color:#dd2727;
	text-align:center;
	color:#fff;
	font-size:18px;
	border:0;
	border:none;
	}

 @media only screen and (min-width: 1200px) {
	}
 @media only screen and (min-width: 1400px) {
	.current-list p {
		max-height: 384px;
	}
	}
